# Copy this file to docker/.env on the server.

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=intell_recipe

REDIS_PASSWORD=123321

RABBITMQ_DEFAULT_USER=root
RABBITMQ_DEFAULT_PASS=123456

# Increase this if your cloud server has enough memory.
ES_JAVA_OPTS=-Xms512m -Xmx512m
